################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TalentoTrack.Common/bin/Debug/net8.0
/TalentoTrack.Common/obj
/TalentoTrack.Dao/bin/Debug/net8.0
/TalentoTrack.Dao/obj
/TalentoTrack.Services/bin/Debug/net8.0
/TalentoTrack.Services/obj
/TelentoTrack_API/bin/Debug/net8.0
/TelentoTrack_API/obj
